$yellow: #fdb913;
$dark-blue: #00529b;
$light-blue: #58aae8;
$text: #d4efff;

body{
    background-color: #f5f5ff;
    font-family: "Helvetica", "Arial", Sans;
}

p{
    margin-bottom: 1em;
}

#main_container{
    background-color: white;
    border-left: $dark-blue solid 1px;
    border-right: $dark-blue solid 1px;
    box-shadow: 0px 0px 20px #888;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
#header_text_container{
    margin-bottom: 10px;
    margin-right: 30px;
    padding-top: 5px;
    text-align: right;
}
#header_title{
    display: block;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    a:hover{
        text-decoration: none;
    }
}
#header_logo{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
header{
    background-color: white;
    color: $dark-blue;
    min-height: 75px;
    ul{
        li {
            display: inline-block;
        }
    }
    a{
        color: $dark-blue;
        text-decoration: none;
        &:visited{
            color: $dark-blue;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}
#themeheader_container{
    background-color: $yellow;
    border-bottom: $dark-blue solid 10px;
    padding-top: 10px;
    ul{
        //This seems to be a weird fix.
        margin-bottom: -3px;
        text-align: center;
        li{
            background-image: url("link.png");
            background-repeat: no-repeat;
            background-size: 100%;
            display: inline-block;
            height: 190px;
            position: relative;
            text-align: center;
            width: 190px;
            z-index: 3;
            &:hover{
                background-image: url("link_hover.png");
            }
            &.active{
                background-image: url("link_hover.png");
            }
            div{
                display: table;
                left: 20px;
                position: absolute;
                width: 150px;
            }
            .theme_list_link{
                color: $text;
                display: table-cell;
                font-size: 20px;
                font-weight: bold;
                height: 190px;
                margin-top: -95px;
                text-align: center;
                text-decoration: none;
                top: 50%;
                vertical-align: middle;
            }
        }
    }
}
// Only seen on the front page
#mission_statement{
    padding-bottom: 1em;
    padding-top: 1em;
    position: relative;
    text-align: center;
    z-index: 0;
}
#mission_content{
    background-image: url("/static/bigcircle.png");
    background-repeat: no-repeat;
    color: $text;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 75px;
    position: relative;
    width: 300px;
    z-index: 3;
    h2{
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
    p{
        font-size: 130%;
    }
}
#foundation_theme{
    background: #7db8e0; // Old browsers
    background: -moz-linear-gradient(top,  #7db8e0 0%, #7db8e0 62%, #3285c9 78%, #3285c9 92%, #7db8e0 100%); // FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db8e0), color-stop(62%,#7db8e0), color-stop(78%,#3285c9), color-stop(92%,#3285c9), color-stop(100%,#7db8e0)); // Chrome,Safari4+
    background: -webkit-linear-gradient(top,  #7db8e0 0%,#7db8e0 62%,#3285c9 78%,#3285c9 92%,#7db8e0 100%); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  #7db8e0 0%,#7db8e0 62%,#3285c9 78%,#3285c9 92%,#7db8e0 100%); // Opera 11.10+
    background: -ms-linear-gradient(top,  #7db8e0 0%,#7db8e0 62%,#3285c9 78%,#3285c9 92%,#7db8e0 100%); // IE10+
    background: linear-gradient(to bottom,  #7db8e0 0%,#7db8e0 62%,#3285c9 78%,#3285c9 92%,#7db8e0 100%); // W3C
    border: $dark-blue solid 7px;
    border-radius: 15px;
    box-shadow: 8px 8px 4px #333;
    color: $text;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db8e0', endColorstr='#7db8e0',GradientType=0 ); // IE6-9
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    z-index: 1;
    span{
        display: inline-block;
        margin-bottom: 30px;
        margin-top: 15px;
    }
}
#mission_lines{
    left: 210px;
    position: absolute;
    top: 230px;
    z-index: 2;
}
//used for making it a link:
#foundation_title{
    background-image: url('/static/transparent.gif');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

// Only seen on static content pages
#static_content_container{
    background: #1e5799; // Old browsers
    background: -moz-linear-gradient(top, #1e5799 0%, #58aae8 0%, #00529b 100%); // FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#58aae8), color-stop(100%,#00529b)); // Chrome,Safari4+
    background: -webkit-linear-gradient(top, #1e5799 0%,#58aae8 0%,#00529b 100%); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top, #1e5799 0%,#58aae8 0%,#00529b 100%); // Opera 11.10+
    background: -ms-linear-gradient(top, #1e5799 0%,#58aae8 0%,#00529b 100%); // IE10+
    background: linear-gradient(to bottom, #1e5799 0%,#58aae8 0%,#00529b 100%); // W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#00529b',GradientType=0 ); // IE6-9
    padding: 50px 150px;
}

#static_content{
    background-color: white;
    border: $dark-blue solid 6px;
    border-radius: 35px;
    box-shadow: 8px 8px 4px #333;
    padding: 3%;
    width: 96%;
    h1{
        font-size: 24px;
    }
}

.content_spacer{
    height: 20px;
}
#content_container{
    nav{
        border-right: $dark-blue solid 3px;
        color: $dark-blue;
        float: left;
        padding-right: 2px;
        width: 25%;
        li{
            background-position: top left;
            background-repeat: no-repeat;
            font-weight: bold;
            line-height: 1em;
            margin-left: 5px;
            padding: 4px 0px 4px 20px;
            &.collapsed{
                background-image: url("closedtriangle.png");
            }
            &.expanded{
                background-image: url("opentriangle.png");
            }
            li{
                list-style-type: disc;
                margin-left: 25px;
                padding-bottom: 8px;
                padding-left: 0;
                padding-right: 20px;
                &.active{
                    background-color: $yellow;
                    background-image: url("whitearrow.png");
                    background-position: center right;
                    color: white;
                    list-style-type: none;
                    margin-left: 0;
                    padding: 10px 32px 10px 16px;
                    a{
                        color: white;
                    }
                }
            }
            a{
                color: $dark-blue;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
                &:visited{
                    color: $dark-blue;
                }
            }
            .objective_description{
                color: black;
                display: inline-block;
                font-size: 80%;
                font-weight: normal;
                margin: 5px 10px 10px;
            }
        }
    }
    #content{
        color: #252525;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        width: 73%;
        h1{
            color: $dark-blue;
            font-size: 26px;
            margin-bottom: 12px;
        }
        h2{
            color: $dark-blue;
            font-size: 22px;
            margin-bottom: 6px;
            margin-top: 32px;
        }
        table{
            border: $dark-blue solid 3px;
            margin-left: auto;
            margin-right: auto;
            th{
                background-color: white;
                color: $dark-blue;
            }
            td{
                background-color: $light-blue;
                color: white;
            }
            td, 
            th{
                border: $dark-blue solid 2px;
                padding: 3px;
            }
        }
    }
}
footer{
    background-color: $yellow;
    border-top: $dark-blue solid 10px;
    min-height: 40px;
}
